@charset "UTF-8";
.header {
  padding: 20px 0px;
}

.container-fluid {
  padding: 0;
}

.container {
  padding: 0;
}

.nav {
  width: 100%;
  background-color: #4f4f4f;
}

.nav123 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 0;
}

.nav123 li {
  list-style: none;
  position: relative;
}

.nav123 li > a {
  font-size: 16px;
  display: inline-block;
  /* padding:20px 0; */
  color: white;
  font-weight: 400;
  height: 40px;
  width: 120px;
  line-height: 40px;
  text-align: center;
}

/* 下拉是選單 */
.nav123 .down_menu {
  opacity: .9;
  border-radius: 5px;
  left: -50%;
  width: 150px;
  z-index: 10;
  background-color: white;
  -webkit-box-shadow: 2px 2px 5px #acacac;
          box-shadow: 2px 2px 5px #acacac;
}

.nav123 .down_menu li > a {
  display: block;
  text-align: center;
}

.nav123 > .hover_down_menu:hover .down_menu {
  display: block;
}

* {
  padding: 0px;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, "STHeiti", "Microsoft JhengHei", "微軟正黑體", "sans-serif";
}

footer {
  width: 100%;
  background-color: #5C5C5C;
  height: 250px;
  margin-top: 50px;
  color: white;
  text-align: center;
}

footer ul {
  padding-top: 30px;
}

footer ul li > a {
  text-decoration: none;
  color: #999999;
  padding: 10px;
  -webkit-transition: color .5s;
  transition: color .5s;
}

footer ul li a:hover {
  color: white;
}

footer p {
  -webkit-transition: color .5s;
  transition: color .5s;
  color: #999999;
  padding: 10px;
  cursor: pointer;
}

footer p:hover {
  color: white;
}

footer img {
  opacity: .5;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

footer img:hover {
  opacity: 1;
}

body {
  background-color: #f4f4f4;
}

.filter .filter_left {
  background-color: white;
  -webkit-box-shadow: 2px 6px 5px rgba(230, 230, 230, 0.781);
          box-shadow: 2px 6px 5px rgba(230, 230, 230, 0.781);
  margin-top: 30px;
  padding: 25px 20px;
}

.filter .filter_left .filter_list {
  position: relative;
}

.filter .filter_left .filter_list h2 {
  color: #333;
  font-size: 17px;
  font-weight: 700;
}

.filter .filter_left .filter_list:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #ccc;
  bottom: 0px;
}

.filter .filter_left .filter_list .filter_list_group {
  margin-bottom: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.filter .filter_left .filter_list .filter_list_group .click_orange {
  color: #ff6600;
}

.filter .filter_left .filter_list .filter_list_group a {
  color: #4c4c4c;
  font-size: 15px;
  cursor: pointer;
  line-height: 30px;
  display: block;
}

.crad_all {
  background-color: white;
  -webkit-box-shadow: 2px 6px 5px rgba(230, 230, 230, 0.781);
          box-shadow: 2px 6px 5px rgba(230, 230, 230, 0.781);
  margin-top: 30px;
  padding: 25px 20px;
}

.crad_all h3 {
  color: #4c4c4c;
  font-size: 30px;
}

.crad_all .select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0px;
}

.crad_all .select .select_group_left {
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.crad_all .select .select_group_left a {
  display: block;
  width: 89px;
  height: 30px;
  text-align: center;
  border-right: 1px solid #ccc;
  color: #666666;
  line-height: 30px;
}

.crad_all .select .top_page {
  margin-left: auto;
}

.crad_all .all_crad .crad {
  margin-bottom: 25px;
}

.crad_all .all_crad .crad .crad_img {
  border-radius: 5px;
  overflow: hidden;
}

.crad_all .all_crad .crad .crad_img img {
  width: 100%;
}

.crad_all .all_crad .crad .crad_text h3 {
  color: #525558;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
  min-height: 40px;
}

.crad_all .all_crad .crad .crad_text > span {
  color: #999;
  font-size: 14px;
  padding-right: 20px;
}

.crad_all .all_crad .crad .crad_text > span:last-child {
  float: right;
  padding-right: 0px;
}

nav {
  margin-top: 30px;
  text-align: center;
}

nav .pageall_center {
  display: inline-block;
  margin: 0 auto;
}

nav .pageall_center .pageall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  border: 1px solid #ccc;
}

nav .pageall_center .pageall li {
  list-style: none;
}

nav .pageall_center .pageall li a {
  display: inline-block;
  border-radius: 2px;
  padding: 5px 15px;
  border-right: 1px solid #ccc;
}

.nav123 .down_menu {
  display: none;
  opacity: 0.9;
  position: absolute;
  left: -10px;
  z-index: 10;
  background-color: #424242;
}

.nav123 .down_menu li > a {
  display: block;
  text-align: center;
  color: color;
}

.nav123 > .hover_down_menu:hover .down_menu {
  display: block;
}
/*# sourceMappingURL=page2.css.map */