@import "footer";
@import "leftfunction";
@import "header";
* {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, "STHeiti", "Microsoft JhengHei", "微軟正黑體", "sans-serif";
}



/* 每周空間 */

.big_sort {
    margin-top: 80px;
    margin-bottom: 50px;
    /* border:1px solid red; */
    display: flex;
    justify-content: center;
}

.big_sort .bigtitle {
    width: 100%;
    text-align: center;
    position: relative;
    /* border: 1px solid red; */
}

.big_sort .bigtitle h3 {
    font-size: 36px;
    color: #525558;
    font-weight: bold;
    background: white;
    /* border: 1px solid red; */
    display: inline-block;
    z-index: 2;
    margin: 0 auto 24px auto;
    padding: 0 40px;
}

.big_sort .bigtitle h3::before {
    content: "";
    border: 1px solid #e1e1e1;
    width: 100%;
    height: 1px;
    top: 20px;
    left: 0;
    z-index: -1;
    position: absolute;
}

.big_sort .bigtitle>p {
    margin: 0 auto;
    color: #999;
    font-size: 18px;
    position: relative;
    /* border: 1px solid red; */
}

.big_sort .bigtitle>p a.more {
    font-size: 15px;
    position: absolute;
    right: 0;
    z-index: 2;
}

/* 每周空間 */

.all_crad .crad {}

.all_crad .crad .crad_img {
    border-radius: 5px;
    overflow: hidden;
}

.all_crad .crad .crad_img img {
    width: 100%;
}

.all_crad .crad .crad_text {}

.all_crad .crad .crad_text h3 {
    color: #525558;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    min-height: 40px;
}

.all_crad .crad .crad_text>span {
    color: #999;
    font-size: 14px;
    padding-right: 20px;
}

.big_sort .select {
    /* border: 1px solid red; */
    width: 400px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.big_sort .select .changeColor {
    color: #3f9878;
}

.big_sort .select>a {
    display: inline-block;
    font-size: 18px;
    color: #999999;
    font-weight: 600;
    position: relative;
}

.big_sort .select a:first-child:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #3f9878;
    bottom: 0;
}

.design_crad .design_crad_img>.cirle_img {
    border-radius: 50%;
    overflow: hidden;
    width: 80px;
    margin: 0 auto;
    transform: translateY(-50%);
    left: 40%;
    bottom: 15%;
    box-shadow: 2px 2px 5px rgb(59, 59, 59);
}

.design_crad .design_crad_img .cirle_img img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.design_all_crad {
    display: none;
    justify-content: space-around;
}


.design_all_crad_nochange {
    display: flex;
    justify-content: space-around;
}
.design_crad {
    border: 1px solid rgb(201, 201, 201);
    color: #999;
    border-radius: 10px;
    width: 32%;
    padding: 0;
}

 .design_crad .design_crad_img {
    border-radius: 5px;
    overflow: hidden;
}

 .design_crad .design_crad_img img {
    width: 100%;
}

.design_crad .crad_design_text {
    text-align: center;
    margin-bottom: 30px;
}

 .design_crad .crad_design_text h3 {
    color: #525558;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

 .design_crad .crad_design_text>p {
    margin: 0;
    padding-right: 5px;
    display: inline-block;
    font-size: 14px;
    color: #999;
}

 .design_crad .crad_design_text>span {
    font-size: 14px;
    color: #3f9878;
}


.nav123 .down_menu {
    text-align: center;
    display: none;
    opacity: 0.9;
    position: absolute;
  left: -10px;
    z-index: 10;
    background-color: #424242;text-align: center;
  }
  .nav123 .down_menu li > a {
    display: block;
    
    color: color;
  }
  .nav123 > .hover_down_menu:hover .hover_down_menu {
    display: block;
  }
  